
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	color: #000;
	background-color:white;
	font-family: Arial;
}

a{
	text-decoration: none;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #1f1d3c;
	z-index: 10;
}
.header__inner{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container{
	max-width: 1030px;
	width: 100%;
	padding: 0px 15px;
	margin: 0 auto;
}

.button__list{
	width: 650px;
	display: flex;
	justify-content: space-between	;
}	
.namesite{
	display: flex;
	justify-content: space-between	;
}
.button__item{
	color: #fff;
	min-width: 150px;
	height: 50px;
	background: #2e4ef0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s;
	border-radius: 6px;
	padding: 10px;
}

.button__item:hover{
	background: #4766ff;
}

.button__link{
	color: #fff;
	/*max-width: 100%;*/
	height: 50px;
	display:flex;
	align-items: center;
	padding: 10px;
}

.logo{
	max-width: 50px;
	height: 50px;
	width: 100%;
}

.logo img{
	width: 100%;
	height: 100%;
}

.content{
	margin-top: 80px;
}

.content__image{
	margin: 0 auto;
	width: 100%;
	height: 350px;
	padding: 10px 0px;
}
.content__image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.content__title{
	margin-top: 30px;
	font-size: 35px;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}

.content__item{
	padding: 15px 0px;
}

.content__item-title{
	font-size: 28px;
	font-weight: 600;
	padding: 30px 0px;
}

.fontstyle{
	font-weight: bold;
	font-size: 16px;
}

.content__item-text{
	font-size: 18px;
	padding: 5px 0px;

}

.content__title1{
	margin-top: 30px;
	font-size: 35px;
	font-weight: 700;
	padding: 10px 0px;
}
.content__item-text1{
	font-size: 20px;
	padding: 5px 0px;
	transition: all .2s;
}
.content__item-text1:hover{
	font-size: 20px;
	padding: 5px 0px;
    border-left: 3px solid rgb(164 26 181 / 84%);;
    padding-left: 12px;
}
.content__item-text2{
	font-size: 20px;
	padding: 5px 0px;
}
.container__left{
	max-width: 300px;
	width: 100%;
	height: 600px;

	position: fixed;
	margin-top: 0px;
	text-align: center;
	display: grid;
	align-items: center;
}
.sectionesag {
  width: 150px;
  height: 3px;
  background: #498a2d;
  margin: 23px auto;


}
.container__object{

	height: 250px;
	/*background-color: #DCDCDC;*/

}
.container__object-mini{

	width: 300px;
	height: 250px;

}
.container__object-mini img{
width: 100px;
height: 100px;
border-radius: 50%;
}
.object__name{
font-size: 20px;
text-transform: uppercase;
}
.object__star{
	color: #53b32b;
	margin-top: 10px;
}
.container__right{
	right:20px;
	max-width: 280px;
	width: 250px;
	height: 300px;
	position: absolute;
}
.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: Arial;
  }
  
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 
	margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  .card {
	width: 225px;
	min-height: 450px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column; /* Размещаем элементы в колонку */
	border-radius: 4px;
	transition: 0.2s;
	position: relative;
  }
  
  /* При наведении на карточку - меняем цвет тени */
  .card:hover {
	box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  }
  
  .card__top {
	flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
	position: relative;
	overflow: hidden; /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .card__image > img {
	width: 100%;
	height: 100%;
	object-fit: contain; /* Встраиваем картинку в контейнер card__image */
	transition: 0.2s;
  }
  
  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
	transform: scale(1.1);
  }
  
  /* Размещаем скидку на товар относительно изображения */
  .card__label {
	padding: 4px 8px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background: #ff6633;
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
  }
  
  .card__bottom {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
	padding: 10px;
  }
  
  .card__prices {
	display: flex;
    margin-bottom: -20px;
	flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
  }
  
  .card__price::after {
	content: "₽";
	margin-left: 4px;
	position: relative;
  }
  
  .card__price--discount {
	font-weight: 700;
	font-size: 19px;
	color: #414141;
	display: flex;
	flex-wrap: wrap-reverse;https://items.s1.citilink.ru/1868064_v05_b.jpg
  }
  
  .card__price--discount::before {
	content: "Со скидкой";
	font-weight: 400;
	font-size: 13px;
	color: #bfbfbf;
  }
  
  .card__price--common {
	font-weight: 400;
	font-size: 17px;
	color: #606060;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;
  }
  
  .card__price--common::before {
	content: "Обычная";
	font-weight: 400;
	font-size: 13px;
	color: #bfbfbf;
  }
  
  .card__title {
	display: block;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: #414141;
  }
  
  .card__title:hover {
	color: #ff6633;
  }
  
  .card__add {
	display: block;
	width: 100%;
	font-weight: 400;
	font-size: 17px;
	color: #70c05b;
	padding: 10px;
	text-align: center;
	border: 1px solid #70c05b;
	border-radius: 4px;
	cursor: pointer; /* Меняем курсор при наведении */
	transition: 0.2s;
	margin-top: auto; /* Прижимаем кнопку к низу карточки */
  }
  
  .card__add:hover {
	border: 1px solid #ff6633;
	background-color: #ff6633;
	color: #fff;
  }
  .cards {
	padding: 0px 0px;
	display: grid;
	/* Автоматически заполняем на всю ширину grid-контейнера */
	grid-template-columns: repeat(auto-fill, 225px);
	width: 100%;
	max-width: 1000px; /* Ширина grid-контейнера */
	justify-content: center;
	justify-items: center; /* Размещаем карточку по центру */
	column-gap: 30px; /* Отступ между колонками */
	row-gap: 40px; /* Отступ между рядами */
	margin: 0 auto;
  }








  .modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}



@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

#container1{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
	
}



/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

/* 	Product Name */
#container .product-details h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Farsan', cursive;
	display: inline-block;
	background: #FFA69E;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
	
}

/*Product Rating  */
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


/* The most important information about the product */
#container .product-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	
}

/* control */

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49C608;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}



.nesolestag-enadenud {
	width: 615px;
	margin: 0 auto;
	padding: 300px 0px;
	padding-left: 100px;
  }
  
  .kesednsoled:after,
  .kesednsoled:before {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	clear: both;
  }
  .ico-wrap {
	color: #a612d4;
	width: 48px;
	height: 48px;
	margin: 30px 18px 5px 5px;
	display: block;
	text-align: center;
	font-size: 25px;
	border: 2px solid #9d1cb7;
	float: left;
	border-radius: 30px;
  }
  .ico-contact {
	line-height: 1.9 !important;
  }
  .meanous-andscoev {
	float: left;
	margin-bottom: 20px;
  }
  .aio-icon-title {
	font-size: 16px;
	color: #950c96;
	line-height: 1;
	margin-bottom: 8px;
  }
  
  @media (max-width: 767px) {
	.meanous-andscoev,
	.ico-wrap {
	float: none;
	text-align: center;
	}
	.ico-wrap {
	margin: 0 auto 15px auto;
	}
  }

